###### topics and services ######

## input topics
topic_in_cloud           : "xtion/depth_registered/points"
topic_in_cloud_old       : ""
topic_in_laser           : ""

## output topics
#topic_out_cloud          : "~out_cloud"

###### general settings ######

## input filtering
#skip_count        :    0 # skip no pointcouds
#skip_time         : 0.2  # skip all pointclouds within 0.2 seconds
#enabled           : true # node starts active

## tf
#tf_lookup_time    : 0.2  # waiting up to 0.2 seconds

## buffering
buffer_pointcloud : true # save last pointcloud

## extended output for debugging
#debugging         : false # normal output

###### laser ######

## all nans within laserscan will be replaced by this range value
##   if < 0 then this feature will deactivated
#laser_nan_replacement_value: 10 # meter

###### filter ######

filters: ["block: 0.8 0.75 1.20 base_link 0 0 0.6     # main body of rover",
          "link? 0.2 0.1 mico_link_3 mico_link_2      # lower part of arm" ,
          "link? 0.2 0.1 mico_link_5 mico_link_3      # middle of arm"     ,
          "block? 0.3 0.2 0.4 mico_link_hand 0 0 -0.1 # hand of arm"       ]
